<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Nessus Backend Software Engineer Assessment</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="../public/favicon.png">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center">Nessus Backend Software Engineer Assessment</h1>
      <hr>
      <h4>Welcome! You are now logged in.</h4>
      <br>

      <form action="/show-configurations">
        <legend>Get Configurations</legend>
        <!-- <div class="form-group">
          <label>Enter number of configurations:</label>
          <input class="form-control" id="host" type="number" name="host" min="0" />
        </div> -->
        <button class="btn btn-primary" type="submit">Get Configurations</button>
      </form>

      <hr>

      <form action="/configuration-added" method="post">
        <fieldset>
          <legend>Create Configuration</legend>
          <div class="form-group">
            <label>Name:</label>
            <input class="form-control" id="name" type="text" name="name" required/>
          </div>
          <div class="form-group">
            <label>Hostname:</label>
            <input class="form-control" id="hostname" type="text" name="hostname" required/>
          </div>
          <div class="form-group">
            <label>Port:</label>
            <input class="form-control" id="port" type="number" name="port" required/>
          </div>
          <div class="form-group">
            <label>Username:</label>
            <input class="form-control" id="username" type="text" name="username" required/>
          </div>
        </fieldset>
        <button class="btn btn-primary" type="submit">Create Configuration</button>
      </form>
      <hr>
      <div class="container">
        <a class="btn btn-danger" href="logout">Log Out</a>
      </div>
    </div>
  </body>
</html>
